<div class="matches-title">
  <h3>試合一覧（<%= Match.all.count %>）</h3>
  <div><%= link_to "Add Match", "/matches/new", class: "btn btn-success" %></div>
</div>
<hr>
<table class="table table-striped table-bordered matches">
  <thead>
    <tr>
      <th scope="col">Match Name</th>
      <th scope="col">Held</th>
      <th scope="col">NOP</th>
    </tr>
  </thead>
  <tbody>
   <% @matches.each do |match| %>     
       <tr>
         <th scope="row"><%= link_to match.name.truncate(10), match_enter_point_path(match) %></th>
         <td class="matches-match-created_at"><%= match.created_at.strftime("%Y-%m-%d %H:%M") %></td>
         <td class="matches-match-created_at"><%= match.entries.count %></td>
       </tr>
   <% end %>    
  </tbody>
</table>
<%= paginate @matches, theme: 'bootstrap-5' %>

<style>
.matches-title {
    display: flex;
    justify-content: space-between;
}

    
</style>

